{% extends 'core/base.html'%} {% block content%}
<div class="container">
  <h3 class="text-light border-bottom mt-4">SERVICES</h3>
  <div class="row mt-4">
    <div class="col-sm-4 text-center">
      <i class="fa-solid fa-magnifying-glass-dollar bg-warning fa-4x"></i>
      <h3 class="text-light mt-2">SEO</h3>
      <p class="text-light">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      </p>
    </div>
    <div class="col-sm-4 text-center text-light">
      <i class="fa-brands fa-apple bg-warning fa-4x"></i>
      <h3 class="text-light mt-2">ios</h3>
      <p class="text-light">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      </p>
    </div>
    <div class="col-sm-4 text-center text-light">
      <i class="fa-solid fa-code fa-4x bg-warning"></i>
      <h3 class="text-light mt-2">web development</h3>
      <p class="text-light">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      </p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm-4 text-light text-center">
      <i class="fa-brands fa-android bg-warning fa-4x"></i>
      <h3 class="text-light mt-2">Android</h3>
      <p class="text-light">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      </p>
    </div>

    <div class="col-sm-4 text-light text-center">
      <i class="fa-solid fa-rectangle-ad bg-warning fa-4x"></i>
      <h3 class="text-light mt-2">Advertisement</h3>
      <p class="text-light">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      </p>
    </div>
    <div class="col-sm-4 text-light text-center">
      <i class="fa-solid fa-headset bg-warning fa-4x"></i>
      <h3 class="text-light mt-2">Advertisement</h3>
      <p class="text-light">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      </p>
    </div>
  </div>

  <div class="row mt-4">

    <div class="col-sm-4 text-light text-center">
      <i class="fa-brands fa-pied-piper bg-warning fa-4x"></i>
      <h3 class="text-light mt-2">Logo Design</h3>
      <p class="text-light">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      </p>
    </div>

    <div class="col-sm-4 text-light text-center">
      <i class="fa-solid fa-star-shooting bg-warning fa-4x"></i>
      <h3 class="text-light mt-2">Hosting</h3>
      <p class="text-light">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      </p>
    </div>

    <div class="col-sm-4 text-light text-center">
      <i class="fa-solid fa-headset bg-warning fa-4x"></i>
      <h3 class="text-light mt-2">Advertisement</h3>
      <p class="text-light">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      </p>
    </div>
    
  </div>
</div>

{% endblock content%}
